.container{
    margin: 10px auto 0px auto;
    width: 50%;
    height: 600px;
    border: 1pt solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
