.container{
    margin: 10px auto 0px auto;
    padding: 10px;
    width: 50%;
    height: 600px;
    border: 1pt solid black;
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
}
