.current-weather-container {
    padding-top: 20px;
    flex-grow: 1;

    p {
        margin: 2px 0px;
        color: grey;
    }
}

.city-section {
    font-weight: bold;
    font-size: 26px;
}

.condition-and-temp {
    display: flex;
}

